header{
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
    overflow: hidden;
    background-color: #2d3d4c;
    margin-bottom: 20px;
    box-shadow: 0px 1px 17px -1px rgba(0,0,0,0.29);
    height: 70px;
}
#htitle{
  user-select: none;
  float:left;
  color:#aed8eb;
  margin-top: 18px;
  font-family:sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-left: 400px;
  text-decoration:none;
}
#hprofile{
  user-select: none;
  float: right;
  color: #aed8eb;
  margin-right: 550px;
  margin-top: 22px;
  font-size: 19px;
  text-decoration:none;
}
